{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div id="app">
        <vue-spa-traning></vue-spa-traning>
    </div>
    <a href="{{  path('app_login') }}">Signin</a>
</div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/0.js') }}"></script>
{% endblock %}